
        .body-initial {
            background-color: rgba(57, 57, 57, 1);
        }
        
        .silex-id-1521235597876-7 {
            top: 50px;
            left: 0px;
            min-width: 798px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1521235597876-7 {
                left: 5px;
                min-width: .1em;
                min-height: 175px;
            }
        }
        
        .silex-id-1521235597875-6 {
            left: 154px;
            right: 0px;
            min-height: 182px;
            top: 15px;
            width: 798px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1521235597875-6 {
                left: 0px;
                right: 0px;
                top: 15px;
                width: 798px;
                min-height: 182px;
            }
        }
        
        .silex-id-1521236424727-12 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 15px;
        }
        
        .silex-id-1521236634524-20 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 90px;
        }
        
        .silex-id-1521236586749-16 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 255px;
        }
        
        .silex-id-1521236630501-19 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 334px;
        }
        
        .silex-id-1521236522955-14 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 410px;
        }
        
        .silex-id-1521236549946-15 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 486px;
        }
        
        .silex-id-1521236485924-13 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 561px;
        }
        
        .silex-id-1521236645825-21 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 638px;
        }
        
        .silex-id-1521236593171-17 {
            width: 60px;
            min-height: 60px;
            top: 90px;
            left: 715px;
        }
        
        .silex-id-1521831020375-0 {
            width: 77px;
            min-height: 60px;
            top: 90px;
            left: 165px;
        }
        
        .silex-id-1521235664146-8 {
            width: 100%;
            top: 0px;
            left: 0%;
            background-color: rgba(2, 159, 0, 0.9764705882352941);
            min-height: 75px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1521235664146-8 {
                width: 700px;
                background-color: rgba(2, 159, 0, 0.9764705882352941);
                min-height: 75px;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
        
        .silex-id-1521235776716-10 {
            width: 65px;
            min-height: 65px;
            top: 5px;
            left: 10px;
        }
        
        .silex-id-1521235863983-11 {
            width: 170px;
            min-height: 31px;
            margin-right: -50%;
            left: 83px;
            top: 25px;
        }
    